@model List<TicketVM>
@{
    ViewData["Title"] = "Biletlerim";
}

@foreach(TicketVM ticket in Model)
{
   <div class="card text-white bg-primary mb-3 col-8">
        <div class="card-header">Kalkış Tarihi : @ticket.tarihKalkis</div>
        <div class="card-body">
            <h5 class="card-title">@ticket.yolcuAdi @ticket.yolcuSoyadi</h5>
            <div class="row">
                <div class="col-4">
                    <p class="card-text col-3">@ticket.havalimaniKalkis <br />@ticket.sehirKalkis <br />@ticket.saatKalkis</p>
                </div>

                <div class="col-4">
                    <p class="card-text col-3 offset-2">@ticket.havalimaniVaris <br />@ticket.sehirVaris<br />@ticket.saatVaris</p>
                </div>
            </div>

        </div>
   </div>
 
}

