@model ProfileEditVM

@{
	ViewData["Title"] = "ProfileEdit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container rounded bg-white mt-5 mb-5">
	<div class="row">

		<div class="col-md-5 border-right">
			
			<div class="d-flex justify-content-between align-items-center mb-3">
				<h4 class="text-right">@_languageService.Getkey("ps").Value</h4>
			</div>

			<form asp-action="ProfileEdit">
				<div class="form-outline col-6 mb-2">
					<span asp-validation-for="kullaniciAdi" class="text-warning small"></span>
					<input asp-for=" kullaniciAdi" type="text" class="form-control"
						   placeholder="" value="@Model.kullaniciAdi" />
					<label class="form-label" asp-for=" kullaniciAdi">@_languageService.Getkey("name").Value</label>

				</div>
				<div class="form-outline col-6 mb-2">
					<span asp-validation-for="kullaniciSoyadi" class="text-warning small"></span>
					<input asp-for=" kullaniciSoyadi" type="text" class="form-control"
						   placeholder="" value="@Model.kullaniciSoyadi"  />
					<label class="form-label" asp-for=" kullaniciSoyadi">@_languageService.Getkey("surname").Value</label>

				</div>


				<div class="form-outline mb-2">
					<span asp-validation-for=" Phone" class="text-warning small"></span>
					<input asp-for="Phone" type="text" class="form-control"
						   placeholder="000 000 0000" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" value="@Model.Phone"  />
					<label class="form-label" asp-for="Phone">@_languageService.Getkey("phone").Value</label>

				</div>

				<div class="form-outline mb-2">
					<span asp-validation-for="kullaniciDogum" class="text-warning small"></span>
					<input asp-for="kullaniciDogum" type="text" class="form-control" value="@Model.kullaniciDogum.ToShortDateString()"  />
					<label class="form-label" asp-for="kullaniciDogum">@_languageService.Getkey("bd").Value</label>

				</div>

				<div class="form-outline mb-2">
					<span asp-validation-for=" kullaniciEmail" class="text-warning small"></span>
					<input asp-for=" kullaniciEmail" type="email" class="form-control"
						   placeholder="Email Adress" value="@Model.kullaniciEmail"  />
					<label class="form-label" asp-for=" kullaniciEmail">Email</label>

				</div>

				<div class="form-outline mb-2">
					<span asp-validation-for="KullaniciSifre" class="text-warning small"></span>
					<input asp-for="KullaniciSifre" type="password" class="form-control" placeholder="*******" />
					<label class="form-label" asp-for="KullaniciSifre">Password</label>

				</div>

				<div class="form-outline mb-2">
					<span asp-validation-for="KullaniciSifreKontrol" class="text-warning small"></span>
					<input asp-for="KullaniciSifreKontrol" type="password" class="form-control" placeholder="*******" />
					<label class="form-label" asp-for="KullaniciSifreKontrol">Re-Password</label>

				</div>

				<div class="text-center pt-1 mb-5 pb-1">
					<button class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
						<i class="fa-solid fa-save me-2"></i> @_languageService.Getkey("save").Value
					</button>
					<br />
				</div>


			</form>

		</div>
	</div>
</div>
