@model SelectRouteVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-between">
    <form asp-action="Index">
        <div>
            <span asp-validation-for="havalimaniKalkis" class="form-label"></span>
            <select asp-for="havalimaniKalkis" class="form-label col-4">
                <option key=1 value="">@_languageService.Getkey("cda").Value</option>
                @foreach (var item in (List<string>)ViewBag.airportList)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>

        <div>
            <span asp-validation-for="havalimaniVaris" class="form-label"></span>
            <select asp-for="havalimaniVaris" class="form-label col-4">
                <option key=2 value="">@_languageService.Getkey("caa").Value</option>
                @foreach (var item in (List<string>)ViewBag.airportList)
                {
                    <option value="@item">@item</option>
                }
            </select>

        </div>

        <div class="form-outline mb-2 col-4">
            <span asp-validation-for="tarih" class="text-warning small"></span>
            <input asp-for="tarih" type="date" class="form-control" />
            <label key=3 class="form-label" asp-for="tarih">@_languageService.Getkey("dd").Value</label>

        </div>

        <div class="text-center pt-1 mb-5 pb-1">
            <button key=4 class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
                <i class="fa-solid fa-magnifying-glass fa-bounce"></i> @_languageService.Getkey("sf").Value
            </button>
            <br />
        </div>
    </form>

   
 
</div>
  